@model Wedding

<h1>@Model.WedderOne & @Model.WedderTwo's Wedding</h1>
<a asp-action="Dashboared" asp-controller="Wedding" class="btn btn-warning">Dashboard</a>
<a asp-action="LogOut" asp-controller="Home" class="btn btn-danger">Logout</a>

<h2>When: @Model.Date.ToString("MMMM dd, yyyy")</h2>
<h2>Where: @Model.Address</h2>

<div>
    <h6>Guest List</h6>
    @if(@Model.GuestList.Count == 0)
    {
        <p>No one loves us but eachother.</p>
    }
    @foreach(var r in @Model.GuestList)
    {
        <p>@r.Guest.FirstName @r.Guest.LastName</p>
    }
</div>